@keyframes example {
    0% {color: red;}
    25% {color: yellow;}
    50% {color: white;}
    75% {color: green;}
    100% {color: red;}
}

h1 a {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2 {
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000;
    }

    to {
        text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000;
    }
}


/*Resume Section*/
.company-item {
    position: relative;
}

.popup {
    position: absolute;
    top: -20px;
    left: calc(100% + 10px); /* Adjust this value as needed */
    background-color: #ffffff;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: black;
}

.company-item:hover .popup {
    visibility: visible;
    opacity: 1;
}

@keyframes popupAnimation {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.popup.animated {
    animation: popupAnimation 1s ease infinite;
}
